.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer{
    padding: 39px 80px;
    background-color: #FF3E6C;
}
.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left{
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer__right{
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
